# .dockerignore
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Exclude everything
**/*

# ---------------------------------------------------------------------------- #
#               ------- Whitelist ------
# ---------------------------------------------------------------------------- #

# Docker
!docker/linux/debian/install.sh

# Markdown
!README.md
