# Platform
{{ if eq .chezmoi.os "linux" }}
.config/chocolatey/
powershell/
.wslconfig
profile.ps1
# Shell
{{ if ne .shell "zsh" }}
.p10k.zsh
.zshenv
.zshrc
{{ else if ne .shell "bash" }}
.config/sh/completions.sh
.bash_profile
.bashrc
{{ end }}
{{ end }}

# Platform
{{ if eq .chezmoi.os "windows" }}
.config/sh/
.config/wsl/
.config/zsh/
ansible/
whisper/
.azuredevops
.bash_profile
.bashrc
.netrc
.vimrc
.zshenv
.zshrc
{{ end }}
