# Platform
{{ if eq .chezmoi.os "linux" }}
.config/chocolatey/
.config/layouts/
.config/outlook/
powershell/
profile.ps1
# Shell
{{ if ne .chezmoi.data.shell "zsh" }}
.p10k.zsh
.zshrc
{{ else if ne .chezmoi.data.shell "bash" }}
.bash_profile
.bashrc
{{ end }}
{{ end }}

# Platform
{{ if eq .chezmoi.os "windows" }}
.config/sh/
ansible/
.bash_profile
.bashrc
.p10k.zsh
.vimrc
.zshrc
{{ end }}
