# .gitconfig

[user]
    name = {{ .name }}
    email = {{ .email }}
[init]
	defaultBranch = main
[core]
	editor = vim
    eol = lf
    filemode = false
    pager=less -x4
    whitespace = blank-at-eol,blank-at-eof,space-before-tab
[commit]
    template = ~/.gitmessage.txt
[filter "lfs"]
    required = true
	clean = git-lfs clean -- %f
	process = git-lfs filter-process --skip
	smudge = git-lfs smudge --skip -- %f
[push]
    default = current
[pull]
    default = current
[help]
    autocorrect = 20

[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
	current = green bold
	local = yellow bold
	remote = red bold
    upstream = blue bold
[color "diff"]
    frag = cyan bold
	meta = magenta bold
    new = green bold
	old = red bold
	whitespace = red reverse
[color "status"]
	added = green bold
    branch = green bold
	changed = yellow bold
    unmerged = magenta
	untracked = red bold

[alias]
    # basic
    cl = clone
    co = checkout -b
    st = status -s

    # branch
    br = branch
    bra = branch --all

    # commit
    ci = commit
    cm = commit -m

    # config
    cl = "config --list"
    cls = "config --list --show-origin"
    cla = "!git config --list | grep alias | cut -c 7-"
    clu = "!git config --list --show-origin | grep user"

    # log
    lo = log --oneline --decorate
    lg = log --graph --abbrev-commit --decorate=no --date=format:'%Y-%m-%d %H:%I:%S' --pretty=format:'%C(03)%>|(15)%h%C(reset) %C(04)%ad%C(reset) %C(green)%<(16,trunc)%an%C(reset) %C(auto)%d%C(reset) %C(bold 0)%>|(1)%s%C(reset)'
    lgo = log --graph --oneline --decorate
    lga = log --all --graph --abbrev-commit --decorate=no --date=format:'%Y-%m-%d %H:%I:%S' --pretty=format:'%C(03)%>|(15)%h%C(reset) %C(04)%ad%C(reset) %C(green)%<(16,trunc)%an%C(reset) %C(auto)%d%C(reset) %C(bold 0)%>|(1)%s%C(reset)'

    # remote
    rv = remote -v
    rs = remote show

    # reset
    r = reset
    r1 = reset HEAD^
    r2 = reset HEAD^^
    rh = reset --hard
    rh1 = reset HEAD^ --hard
    rh2 = reset HEAD^^ --hard
