{{- if .ssh_keys }}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCxOsJ0wl+eOM00hjIF7tUFoUdKe4PHP63gCUCT+Lvpnn0QpL8AfcDLbFNwRApbej8p0xtCAWkH4nLMKwlUn5stLM2rnezYDBz8YQOqRG7wUgIrXXpplFTFu/y+JJzWrujQD5wYNMetCiZZEQPN1HmD4m78xRY2PwmGZD5Q/2ojCIWN8F8fNId7KBJZKg3Im6ATz53LQQGGFIBMsOUujXwsMW8pYLfzKLWhNuJx1vDI+MRxFCmM7XO0K8qn3wIUByFT+qJzgR9EBUl9Xu1AduOdUIzegsdTbHje0ZB74CzXqByy/F+i2079gK9FpZRGOFrai9kiXzVxKt+wEZveC7Fl0U0fRKo438ad1RbrxN+kHEXW5xPHP9wsKNI9IMHH/t3bwjSL7rbKsR4gTCelvGbWOvlSHkiVQywrZT7qDZhgZ7hZxMfAV85TMcmNv4yXj6IR2Hsi6myzEHJ1EXHkuGg/7BE0wmLRW9nIlQo9HhvtSP3KRm+jg0ykv+hDParVask= work
{{- end }}
