# Ansible
deb_architecture: { "armv6l": "armhf", "armv7l": "armhf", "aarch64": "arm64", "x86_64": "amd64", "i386": "i386" }

# AWS
aws_profile: default
aws_region: us-east-2
aws_format: yaml

aws_sso_account_id: '{{ (bitwardenFields "item" "223277e3-498b-4d3c-9c0b-fe80e0e83d7b").sso_account_id.value }}'
aws_sso_region: eu-central-1
aws_sso_registration_scopes: 'sso:account:access'
aws_sso_role_name: 'LocalAdminAccess'
aws_sso_start_url: '{{ (bitwardenFields "item" "223277e3-498b-4d3c-9c0b-fe80e0e83d7b").sso_start_url.value }}'

# Docker
docker_gid: 1001
docker_uid: 1001

# Python
python_version: 3.11.8
