[global]
# https://pypi.python.org/pypi - legacy XML-RPC and JSON API endpoint
# https://files.pythonhosted.org - CDN for actual package files (.whl, .tar.gz, etc.)
index-url = https://pypi.org/simple
extra-index-url = {{ .ado_url }}
