#!/bin/bash

# ---------------------------------------------------------------------------- #
#               ------- Common --------
# ---------------------------------------------------------------------------- #
alias c='clear'
alias cls='clear'
alias ki='kill'
alias q='exit'
alias t='time'

# cd
alias home='cd ~'
alias ..='cd ..'
alias ...='cd ..; cd ..'
alias ....='cd ..; cd ..; cd ..'

{{- if eq .shell "bash" }}
# cp
alias cp='cp -i'
{{- end }}

# du
alias dus='du -sh * | sort -h'

# env
alias env='clear && env | sort'

# grep
alias grep='grep --color=auto'

# history
alias h='clear && history | tail -50'
alias muc='history | awk "{print $2}" | sort | uniq -c | sort -nr | head -10'

# lsof - list open ports
alias lsop='lsof -i -n -P | grep LISTEN'

{{- if eq .shell "bash" }}
# mv - prompt before overwrite
alias mv='mv -i'

# rm - prompt before every removal
alias rm='rm -i'
{{- end }}

# tree - nice alternative to 'ls'
alias tree='tree -Csu'

# vim
alias vimo='vim -o'

# ---------------------------------------------------------------------------- #
#               ------- bat --------
# ---------------------------------------------------------------------------- #
alias bat='batcat'
alias cat='batcat --paging=never'

# ---------------------------------------------------------------------------- #
#               ------- ls --------
# ---------------------------------------------------------------------------- #

{{- if eq .shell "bash" }}
# colorls
if [ -x "$(command -v colorls)" ]; then
    alias ls='colorls --color=auto'
else
    alias ls='ls --color=auto'
fi

# ls - list
alias ll='ls -l'
# ls - do not ignore entries starting with '.', do not list '.' and '..'
alias la='ls -Al'
# ls - list
alias lah='ls -Ahl'
# ls - recursive ls
alias lr='ls -lR'
# ls - sort by date
alias lrt='ls -ltr'
{{- end }}
# ls - sort by size
alias lk='ls -lSr'
# ls - sort by extension
alias lx='ls -lXB'

# ---------------------------------------------------------------------------- #
#               ------- Typos --------
# ---------------------------------------------------------------------------- #
alias :q='exit'

# ---------------------------------------------------------------------------- #
#               ------- Users --------
# ---------------------------------------------------------------------------- #
alias root='sudo su -'
alias doc='sudo su - docker'

# ---------------------------------------------------------------------------- #
#               ------- Ansible --------
# ---------------------------------------------------------------------------- #
alias af='ansible localhost -m ansible.builtin.setup'

# ---------------------------------------------------------------------------- #
#               ------- AWS --------
# ---------------------------------------------------------------------------- #
alias awslog='aws sso login'

# ---------------------------------------------------------------------------- #
#               ------- Bitwarden CLI ------
# ---------------------------------------------------------------------------- #
alias bwl='bw lock'
alias bwli=bitwarden-login-fn
alias bwlo='bw logout'
alias bwo=bitwarden-open-fn
alias bwq='bw lock && bw logout'
alias bws=bitwarden-create-session-fn
alias bwst='bw status | jq'
alias bwsy='bw sync'

# ---------------------------------------------------------------------------- #
#               ------- Chezmoi ------
# ---------------------------------------------------------------------------- #
alias cm=chezmoi-fn
alias cma='chezmoi apply'
alias cmab=chezmoi-apply-bitwarden-fn
alias cmad=chezmoi-add-fn
alias cmadt=chezmoi-add-template-fn
alias cmcd='chezmoi cd'
alias cmd='chezmoi data'
alias cmdi='chezmoi diff'
alias cme=chezmoi-edit-fn
alias cmed='chezmoi edit-config'
alias cmi='chezmoi ignored'
alias cmm=chezmoi-merge-fn
alias cmo='code ~/.local/share/chezmoi/dotfiles.code-workspace'
alias cmtoml='chezmoi edit-config'
alias cmu='chezmoi update --force'
alias cmub=chezmoi-update-bitwarden-fn

# ---------------------------------------------------------------------------- #
#               ------- Docker ------
# ---------------------------------------------------------------------------- #
alias d=docker-fn
alias dcrme=docker-rm-exited-fn
alias dex=docker-exec-fn
alias di=docker-inspect-fn
alias dim='docker images | (sed -u 1q; sort)'
alias dip=docker-ip-fn
alias dirmd=docker-image-rm-dangling-fn
alias dl=docker-logs-fn
alias dnames=docker-names-fn
alias dnrm=docker-network-rm-fn
alias dpsf='docker ps -a --format "table {{ "{{" }}.ID{{ "}}" }}\t{{ "{{" }}.Image{{ "}}" }}\t{{ "{{" }}.Names{{ "}}" }}\t{{ "{{" }}.Status{{ "}}" }}"'
alias dpu=docker-pull-fn
alias drun=docker-run-fn
alias dsdf='docker system df -v'
alias dsp='docker system prune'
alias dspa='docker system prune --all'
alias dsr=docker-stop-rm-fn
alias dvrm=docker-volume-rm-fn
alias dvrmd=docker-volume-rm-dangling-fn

{{- if eq .shell "bash" }}
alias dirm=docker-image-rm-fn
alias dnls='docker network ls'
alias dps='docker ps'
alias dpsa='docker ps -a'
alias dvls='docker volume ls'
{{- end }}

# ---------------------------------------------------------------------------- #
#               ------- Docker Compose ------
# ---------------------------------------------------------------------------- #
alias catco='cat compose.yaml'
alias vico='vim compose.yaml'

# CLI
alias dc=docker-compose-fn
alias dcd='docker compose down -v'
alias dcr='docker compose restart'
alias dcru=docker-compose-run-fn
alias dcsta='docker compose start'
alias dcsto='docker compose stop'
alias dcu='docker compose up -d'
alias dcub='docker compose up -d --build'

# ---------------------------------------------------------------------------- #
#               ------- GitLeaks ------
# ---------------------------------------------------------------------------- #
alias gle='gitleaks git -v'

# ---------------------------------------------------------------------------- #
#               ------- Google Cloud Platform ------
# ---------------------------------------------------------------------------- #
alias gcplog='gcloud auth login'

# ---------------------------------------------------------------------------- #
#               ------- Kubernetes ------
# ---------------------------------------------------------------------------- #
alias kubectl=kubecolor

alias kctx=kubectx
alias kdd=kctl-describe-deployment-fn
alias kdecs=kctl-decode-secret-fn
alias kdp=kctl-describe-pod-fn
alias ked=kctl-edit-deployment-fn
alias kes=kctl-edit-secret-fn
alias kgc='kctl config get-contexts'
alias kgd='kctl get deployment'
alias kgh='kctl get hpa'
alias kgi='kctl get ingress'
alias kgnr='kubectl get nodes --no-headers | awk "{print \$1}" | xargs -I {} sh -c "echo {} ; kubectl describe node {} | grep Allocated -A 5 | grep -ve Event -ve Allocated -ve percent -ve -- ; echo "'
alias kgp='kctl get pods'
alias kgpv='kctl get persistentvolume'
alias kgpvc='kctl get persistentvolumeclaim'
alias kgs='kctl get secret'
alias kgser='kctl get service'
alias kgsj=kctl-json-secret-fn
alias kgss='kctl get statefulset'
alias kgt='kctl --namespace kube-system describe secret eks-admin'
alias kl=kctl-logs-fn
alias kn='kctl config set-context --current --namespace'
alias kns=kubens
alias kp='kctl proxy'
alias kpf=kctl-port-forward-fn
alias krmfailed='kctl delete pods --field-selector=status.phase=Failed'
alias krmp=kctl-delete-pod-fn
alias krr=kctl-rollout-restart-deployment-fn

{{- if eq .machine "pro" }}
{{ .kube_aliases_extra }}
{{- end }}

# ---------------------------------------------------------------------------- #
#               ------- Oh My Posh ------
# ---------------------------------------------------------------------------- #
alias ompe='oh-my-posh config export --output ~/.config/oh-my-posh/omp.toml'

# ---------------------------------------------------------------------------- #
#               ------- Powershell ------
# ---------------------------------------------------------------------------- #
alias ok="powershell.exe 'Add-Type -AssemblyName System.speech;(New-Object System.Speech.Synthesis.SpeechSynthesizer).Speak(\"Long running command just completed\")'"

# ---------------------------------------------------------------------------- #
#               ------- Python ------
# ---------------------------------------------------------------------------- #
alias pycc=python-clean-cache-fn
alias pypdb=python-pdb-fn

# pip
alias pipfr='pip freeze --all > requirements.txt'
alias pipir='pip install -r requirements.txt'
alias pipur='pip uninstall -r requirements.txt -y'
alias pipvir='.venv/bin/pip install -r requirements.txt'
alias pipvur='.venv/bin/pip uninstall -r requirements.txt -y'

# pyenv
alias pyh='cat ~/.config/zsh/aliases.sh | grep py'
alias pyl='pyenv versions'
alias pys='pyenv shell'
alias pysu='pyenv shell --unset'
alias pyv='pyenv version'

# pyenv virtualenvs
alias vc=venv-create-fn
alias vinst=venv-install-fn
alias vl='pyenv virtualenvs'
alias vloc=venv-set-local-fn
alias voff='pyenv deactivate'
alias vrm=venv-delete-fn

# uv
alias uv-lspr='uv-list-package-registries.sh'

{{- if eq .shell "bash" }}
# ---------------------------------------------------------------------------- #
#               ------- Terraform ------
# ---------------------------------------------------------------------------- #
alias tf=terraform-fn
alias tfa='terraform apply'
alias tfaa='terraform apply --auto-approve'
alias tfd='terraform destroy'
alias tfi='terraform init'
alias tfo='terraform output'
alias tfp='terraform plan'
alias tfs=terraform-state-fn
alias tfsh='terraform show'
alias tfv='terraform validate'
{{- end }}

# ---------------------------------------------------------------------------- #
#               ------- Visual Studio Code --------
# ---------------------------------------------------------------------------- #
alias cdwo=cd-open-workspace-fn
alias cwo='code *.code-workspace'

# ---------------------------------------------------------------------------- #
#               ------- WezTerm --------
# ---------------------------------------------------------------------------- #
alias wsk='wezterm show-keys'
alias wskl='wezterm show-keys --lua'

{{- if eq .shell "zsh" }}
# ---------------------------------------------------------------------------- #
#               ------- Zsh --------
# ---------------------------------------------------------------------------- #
alias viz='vi ~/.zshrc'
alias srz='source ~/.zshrc'
alias caz='cat ~/.zshrc'

# chezmoi
alias cmaz='chezmoi apply && source ~/.zshrc'
{{- else}}
# ---------------------------------------------------------------------------- #
#               ------- Bash --------
# ---------------------------------------------------------------------------- #
alias vib='vi ~/.bashrc'
alias srb='source ~/.bashrc'
alias cab='cat ~/.bashrc'

# chezmoi
alias cmab='chezmoi apply && source ~/.bashrc'
{{- end }}
