#!/bin/bash

#==============================================================================#
#               ------- Chezmoi ------                                         #
#==============================================================================#
{{- if eq .shell "zsh" }}
source <(chezmoi completion zsh)
{{- else if eq .shell "bash" }}
source <(chezmoi completion bash)
{{- end }}
{{- end }}

#==============================================================================#
#               ------- Helm ------                                            #
#==============================================================================#
{{- if eq .shell "zsh" }}
source <(helm completion zsh)
{{- else if eq .shell "bash" }}
source <(helm completion bash)
{{- end }}
{{- end }}

#==============================================================================#
#               ------- Kubernetes ------                                      #
#==============================================================================#
{{- if eq .shell "zsh" }}
source <(kubectl completion zsh)
{{- else if eq .shell "bash" }}
source <(kubectl completion bash)
{{- end }}
{{- end }}

#==============================================================================#
#               ------- Poetry ------                                          #
#==============================================================================#
# {{- if eq .shell "zsh" }}
# source <(poetry completions zsh)
# {{- else if eq .shell "bash" }}
# # source <(poetry completions bash)
# {{- end }}
# {{- end }}
