- name: Git
  hosts: all
  gather_facts: false
  vars_files:
    - ../vars/main.yml

  tasks:
  # Packages
  - name: Packages
    tags: [init, update]
    ansible.builtin.include_tasks:
      file: ../tasks/packages.yml
    vars:
      package_list: "{{ git_packages }}"

  # Version
  - name: Version
    tags: [init, update]
    ansible.builtin.include_tasks:
      file: ../tasks/version.yml
    vars:
      cmd: git version

  # Git LFS - Repository
  - name: Git LFS - Repository
    tags: init
    ansible.builtin.include_tasks:
      file: ../tasks/script.yml
    vars:
      root: true
      url: "{{ git_lfs_install_url }}"
      cmd: /bin/sh -c /tmp/install.sh

  # Git LFS - Packages
  - name: Git LFS - Packages
    tags: [init, update]
    ansible.builtin.include_tasks:
      file: ../tasks/packages.yml
    vars:
      package_list: "{{ git_lfs_packages }}"

  # Git LFS - Version
  - name: Version
    tags: [init, update]
    ansible.builtin.include_tasks:
      file: ../tasks/version.yml
    vars:
      cmd: git-lfs version

  # Formulas
  - name: Formulas
    tags: [init, update]
    ansible.builtin.include_tasks:
      file: ../tasks/formulas.yml
    vars:
      formulas: "{{ git_formulas }}"
