#!/bin/bash

title() {
    local color='\033[1;37m'
    local nc='\033[0m'
    printf "\n${color}$1${nc}\n"
}

{{- if eq .chezmoi.osRelease.id "ubuntu" }}
title "Install Ansible"
sudo apt update -y && sudo apt install -y software-properties-common
sudo add-apt-repository -y --update ppa:ansible/ansible
sudo apt install -y ansible

ansible-playbook --become --tags init ubuntu.yml
{{- end }}
