- name: Configure machine
  hosts: all
  gather_facts: false

# Packages
- name: APT
  import_playbook: packages/apt.yml
- name: Homebrew
  import_playbook: packages/homebrew.yml
- name: Zerobrew
  import_playbook: packages/zerobrew.yml

# Shell
- name: Zsh
  import_playbook: shell/zsh.yml
- name: Eza
  import_playbook: shell/eza.yml
- name: Fzf
  import_playbook: shell/fzf.yml
- name: Oh My Posh
  import_playbook: shell/oh-my-posh.yml
- name: Zoxide
  import_playbook: shell/zoxide.yml

# Terminal
- name: Alacritty
  import_playbook: terminal/alacritty.yml
- name: WezTerm
  import_playbook: terminal/wezterm.yml

# Version Control System (VCS)
- name: Git
  import_playbook: vcs/git.yml

# Security
- name: Bitwarden CLI
  import_playbook: security/bw.yml

# Languages
- name: Go
  import_playbook: languages/go.yml
- name: JavaScript
  import_playbook: languages/nodejs.yml
- name: Python
  import_playbook: languages/python.yml
- name: Rust
  import_playbook: languages/rust.yml

# Orchestration
- name: Docker
  import_playbook: orchestration/docker.yml
- name: Kubernetes
  import_playbook: orchestration/kubernetes.yml
- name: Helm
  import_playbook: orchestration/helm.yml

# Infrastructure as Code (IaC)
- name: Pulumi
  import_playbook: iac/pulumi.yml
- name: Terraform
  import_playbook: iac/terraform.yml

# Cloud
- name: AWS
  import_playbook: cloud/aws.yml
- name: GCP
  import_playbook: cloud/gcp.yml

# System
- name: NVIDIA
  import_playbook: system/nvidia.yml

# Tools
- name: Cron
  import_playbook: tools/cron.yml
