#!/bin/bash

echo "Install Ansible"
echo
{{- if (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu")) }}
sudo apt update -y && sudo apt install -y software-properties-common
sudo add-apt-repository -y --update ppa:ansible/ansible
sudo apt install -y ansible
{{- end }}

echo "Run Ansible Playbooks"
echo
ansible-playbook --become --connection local --inventory "localhost," --tags init ~/ansible/linux.yml
ansible-playbook --become --connection local --inventory "localhost," --tags clean ~/ansible/linux.yml
