#!/bin/bash

title() {
    local color='\033[1;37m'
    local nc='\033[0m'
    printf "\n${color}$1${nc}\n"
}

title "Install Ansible"
{{- if eq .chezmoi.osRelease.id "ubuntu" }}
sudo apt update -y && sudo apt install -y software-properties-common
sudo add-apt-repository -y --update ppa:ansible/ansible
sudo apt install -y ansible
{{- end }}

title "Run Ansible Playbooks"
ansible-playbook --become --connection local --inventory "localhost," --tags init ${HOME}/ansible/ubuntu.yml
ansible-playbook --become --connection local --inventory "localhost," --tags clean ${HOME}/ansible/ubuntu.yml
