#!/bin/bash

echo "Install Ansible"
echo
{{ if (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu")) -}}
sudo apt update --yes && sudo apt install --yes software-properties-common
sudo add-apt-repository --ppa ppa:ansible/ansible --yes
sudo apt install --yes ansible
{{ end -}}

echo "Run Ansible Playbooks"
echo
ansible-playbook --connection local --inventory "localhost," --tags init ~/ansible/linux.yml
ansible-playbook --connection local --inventory "localhost," --tags clean ~/ansible/linux.yml
